@media screen and (min-width: 30em) {
  .big-box {
    background-color: #ffffff;
  }
  .flexForm{
      width: 45%;
  }
  .divider{
      width: 2px;
      background-color: darkgray;
      margin-top: 50px;
      height: 250px;
  }
}

.flexForm{
    width: 100%;
}