.menu{
    opacity: 0.95;
    overflow: scroll;
    max-height: 100vh;
}
.menu-dropdown{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    font-size: initial;
    flex-direction: column;
}
@media (max-width: 30em) {
    #dropdown-menu-1, #dropdown-menu-2, .PrincipaisMarcas1{
        display: none;
    }
    #dropdown-menu-1.show,#dropdown-menu-2.show{
        display: block;
    }
}
@media (min-width: 30em) {
    #dropdown-menu-1, #dropdown-menu-2, .PrincipaisMarcas1{
        display: none;
    }
    #dropdown-menu-1.show{
        text-decoration: none;
        color: black;
        padding: 0.5em;
        background-color: #C6CF4C;
        border-radius: 0.3em;
        position: fixed;
        display: block;
        max-width: 50%;
    }
    #dropdown-menu-2.show{
        position: initial;
        display: inline-flex;
        flex-wrap: wrap;
    }
    #dropdown-menu-1.PrincipaisMarcas1.show{
        flex-wrap: wrap;
        justify-content: space-around;
        left: 0px;
        max-width: 100%;
        display: flex;
    }
}
.menu-item{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    font-size: initial;
    margin-left: 0.5em;
}
.coll-menu{
    background-color: #C1CF0A;
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  
    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}