@media screen and (min-width: 1280px) {
  .embla {
    position: relative;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
/*   .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  } */
  
  .embla__container {
    max-width: 600px; /* tamanho máximo do cartão aqui */
    display: flex;
/*     user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent; */
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 80%;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 190px;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    touch-action: manipulation;
    background-color:rgb(41,131,185, 0.7);
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border: 1px;
    border-radius: 5px;
    width: 50px;
    height: 20%;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    padding: 0;
  }

  .embla__button:hover {
    background-color:rgb(41,131,185, 1);
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: 0px;
  }
  
  .embla__button--next {
    right: 0px;
  }
  
  .embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
  }
  
  .embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 20%;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
  }
  
  .embla__dot:after {
    background-color: #efefef;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
  }
  
  .embla__dot.is-selected:after {
    background-color: #2983b9;
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .embla {
    position: relative;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    max-width: 400px; /* tamanho máximo do cartão aqui */
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 80%;
    padding-left: 10px;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 210px;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    touch-action: manipulation;
    background-color:rgb(41,131,185, 0.7);
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border: 1px;
    border-radius: 5px;
    width: 35px;
    height: 20%;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    padding: 0;
  }

  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: 5px;
  }
  
  .embla__button--next {
    right: 5px;
  }
  
  .embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
  }
  
  .embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
  }
  
  .embla__dot:after {
    background-color: #efefef;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
  }
  
  .embla__dot.is-selected:after {
    background-color: #2983b9;
    opacity: 1;
  }
}